<div class="jumbotron">
<!--<h1>Quality items..</h1>

<h3>@ amazing Prices</h3>-->

</div>

<div class="center">

<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">

    <div class="thumbnail">
       
        <%= link_to (image_tag listing.image), listing %>
        <div class="caption">
            <h4><%= listing.name %></h4>
            <p><%= truncate(listing.description, length: 50) %></p>
        <p><%= number_to_currency listing.price, unit:'£' %></p>
          <p><%= "Sold By: #{listing.user.name}" %></p>
       
            
       </div>
     </div>  
  </div>
 
  <% end %>
     
 </div>
</div>

<p><%= image_tag "credit-card.png", :width => 400, :height => 100 %></p>